*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100%;
}

body{
    background-color: bisque;
}

header{
    padding: 30px;
    background-color: brown;
    color: bisque;
}

header h1{
    width: 100%;
    text-align: center;
}

.container{
    margin: 0 auto;
    padding: 0 2%;
    max-width: 1200px;
}

.category h2{
    margin: 15px;
    color: brown;
}

a{
    text-decoration: none;
}

.item{
    height: 150px;
    margin: 15px 0;
    width: 100%;   
}

.item:hover{
    background-color: burlywood;
}

.item-img{
    height: 100%;
    width: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    display: inline-block;
}

.item-txt{
    height: 100%;
    width: calc(100% - 310px);
    display: inline-block;
    vertical-align: top;
    padding: 15px;
}

.item-txt h3{
    margin-bottom: 10px;
    color: brown;
}

.item-txt p{
    margin-bottom: 10px;
    color: brown;
}